<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftwareProject.Properties.Settings.LoginDBConnectionString"
            connectionString="Data Source=DESKTOP-D6AP9T9;Initial Catalog=LoginDB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="provider"  value="Data Source=DESKTOP-D6AP9T9;Initial Catalog=LoginDB;Integrated Security=True;Pooling=False" />

      <add key="connectionString"  value="" />
      </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>